footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
}

ul li{
  display: inline;
  text-align: center;
  padding: 10px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


