footer {
  padding-top: 50px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #012e60;
  color: white;
  padding-bottom: 20px;
}

.container{
	text-align: center;
	margin: 20px;
}

.link{
	margin: 10px;
	color: #ffffff;
	text-decoration: none;
}

.link:hover{
	margin: 10px;
	color: #eb8e6d;
	text-decoration: none;
}

.social-icons{
	margin-top: 20px;
	height: 35px;
	width: 35px;
	margin: 10px;
}

p{
	font-size: 13px;
	margin: 20px;
}

.logo{
	height: 60px;
}
