.header {
  height: 70px;
  background-color: #012e60;
  text-align: left;
  width: 100%;
}

ul {
  float: right;
  color: #52abd4;
}

li {
	font-weight: 200;
}

.logo {
  margin-top: 15px;
  height: 40px;
}
