.header {
  height: 70px;
  background-color: #012e60;
  text-align: left;
  width: 100%;
}

.container {
  padding: 0px;
  margin: 0px;
}

.header-link {
  float: right;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  margin: 20px;
}

.header-link:hover {
  color: #eb8e6d;
}

.expiriRents-logo {
  margin-top: 15px;
  height: 40px;
  float: left;
}

.logoutButton {
  background-color: #eb8e6d;
  float: right;
  color: #ffffff;
  font-weight: 200;
  margin-top: 10px;
}
