.slides {
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: 20px 75px;
  padding: 10px;
  min-width: 500px;
}

.info {
  padding: 20px 90px;
  width: 50%;
}

.info-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dates {
  padding: 30px 150px;
  width: 250px;
}

.book-btn {
  background-color: #eb8e6d;
  border: none;
  color: white;
  margin: 20px 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 310px;
}

#button {
	background-color: #eb8e6d;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

h1, h3 {
	color: #012e60;
}

h2 {
	margin: 0px;
	padding: 0px;
}

.calendar {
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #e4e7ea;
	color: #303030;
	margin-top: 20px;
	max-width: 100%;
	min-width: 100%;
	font-family: 'PT Sans', sans-serif;
  }
  .calendar-month_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  .calendar-month_header_wrapper {
	text-align: center;
	margin: 0 auto 25px;
  }
  .calendar-month_header_title {
	font-size: 20px;
  }
  .calendar-header_button {
	cursor: pointer;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #e4e7ea;
	transition: border 0.1s ease-in, color 0.1s ease-in;
	position: relative;
	height: 35px;
	width: 35px;
  }
  .calendar-header_button:focus {
	outline: 0;
  }
  .calendar-header_button.is-disabled {
	cursor: default;
  }
  .calendar-header_button.is-next:before,
  .calendar-header_button.is-prev:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: fill 0.1s ease-in;
	color: #303030;
  }
  .calendar-header_button.is-disabled .calendar-header_button.is-next,
  .calendar-header_button.is-disabled .calendar-header_button.is-prev {
	color: #acb3bb;
  }
  .calendar-calendar_wrapper.is-shortcut_hover_outrange .calendar-header_button.is-next,
  .calendar-calendar_wrapper.is-shortcut_hover_outrange .calendar-header_button.is-prev {
	border-color: #4a90e2;
	background: #e7f5ff;
  }
  .calendar-header_button.is-prev:before {
	content: '<';
  }
  .calendar-header_button.is-next:after {
	content: '>';
  }
  .calendar-days_of_week {
	font-size: 13px;
	display: flex;
	color: #c3c3c3;
	text-align: center;
	margin-bottom: 25px;
  }
  .calendar-days_of_week_day {
	flex-basis: 15%;
  }
  .calendar-week {
	display: flex;
	margin-bottom: 8px;
  }
  .calendar-week:last-of-type {
	margin-bottom: 0;
  }
  .calendar-day {
	height: 34px;
	width: 34px;
	vertical-align: middle;
	font-size: 15px;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 15%;
	background: #fff;
	position: relative;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
  }
  .calendar-day:first-of-type:hover,
  .calendar-day:last-of-type:hover {
	border-radius: 50%;
  }
  .calendar-day:first-of-type {
	border-radius: 50% 0 0 50%;
  }
  .calendar-day:last-of-type {
	border-radius: 0 50% 50% 0;
  }
  .calendar-day.is-prev_month,
  .calendar-day.is-next_month {
	color: rgba(172,179,187,0.85);
  }
  .calendar-day.is-today {
	font-weight: 700;
  }
  .calendar-day.is-selected {
	background: #e3effc;
	color: #404040;
	position: relative;
	z-index: 1;
	border-radius: 0;
  }
  .calendar-day.is-selected:first-of-type {
	border-radius: 50% 0 0 50%;
  }
  .calendar-day.is-selected:last-of-type {
	border-radius: 0 50% 50% 0;
  }
  .calendar-day.is-selected::before {
	background: #3863a0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	color: #fff;
  }
  .calendar-calendar_wrapper.is-shortcut_hovered .calendar-day.is-selected::before {
	background: #4a90e2;
  }
  .calendar-day.is-selected:hover::before {
	content: '';
	box-shadow: inset 0 0 1px 0 #3863a0;
	background: #e3effc;
	color: #404040;
  }
  .calendar-day.is-selected.is-start_selection.calendar-day.is-selected:hover::before,
  .calendar-day.is-selected.is-end_selection.calendar-day.is-selected:hover::before {
	background: #3863a0;
  }
  .calendar-day.is-selected.is-start_selection,
  .calendar-day.is-selected.is-end_selection {
	background: #e3effc;
	color: #fff;
  }
  .calendar-day.is-selected.is-start_selection::before,
  .calendar-day.is-selected.is-end_selection::before {
	content: '';
  }
  .calendar-day.is-selected.is-start_selection {
	border-radius: 50% 0 0 50%;
  }
  .calendar-day.is-selected.is-start_selection:last-of-type {
	border-radius: 50%;
  }
  .calendar-day.is-selected.is-end_selection {
	border-radius: 0 50% 50% 0;
  }
  .calendar-day.is-selected.is-end_selection.is-start_selection,
  .calendar-day.is-selected.is-end_selection:first-of-type {
	border-radius: 50%;
  }
  .calendar-day.is-selectable {
	cursor: pointer;
	position: relative;
  }
  .calendar-day.is-selectable:before {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
  }
  .calendar-day.is-selectable:hover:not(.is-selected) {
	z-index: 1;
	box-shadow: inset 0 0 1px 0 #3863a0;
  }
  .calendar-day.is-not_selectable {
	color: #e4e7ea;
  }
  .calendar-notice {
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 15px;
	color: #fff;
	background: #ff6c7e;
	max-width: 238px;
  }
  