.slides {
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: 20px 75px;
  padding: 10px;
}

.info {
  padding: 20px 90px;
  width: 50%;
}

.info-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dates {
  padding: 30px 75px;
  width: 25%;
}

button {
  background-color: #eb8e6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1, h3 {
	color: #012e60;
}

.calendar {
	background: white;
}